@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF2D8;
  --foreground: #171717;
  --primary: #881E27;
  --accent: #E6AB3B;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@media (min-width: 1048px) {
  .visible-above-1048 {
    display: block;
  }
  .hidden-above-1048 {
    display: none;
  }
}

@media (max-width: 1047px) {
  .visible-above-1048 {
    display: none;
  }
  .hidden-above-1048 {
    display: block;
  }
}